[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paho-mqtt = "*"
pymongo = "*"
flask = "*"
gunicorn = "*"
dnspython = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
