/*
colors
dark gray: #2d2d2d
logo grey: #666666
medium grey: #999999
light grey: #bbbbbb
yellow: #cca506
blue: #3a81a0
purple: #5a49b0
*/

@font-face {
  font-family: "Muli script=latin rev=2";
  src: url("https://fonts.gstatic.com/s/muli/v13/7Auwp_0qiz-afTLGLQ.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  background-color: #2d2d2d;
  font-weight: 300;
  font-family: 'Abel', sans-serif;
  font-family: 'Catamaran', sans-serif;
  margin: 0;
}

h1 {
  color: #2d2d2d;
}


h2 {
  color: #999;
  margin-bottom: 10px;
}

p {
  color: #bbbbbb;
}

.header{
	height:60px;
	background-color:#cca506;
  padding-left:5%;
  padding-right:20px;
}

.header img{
  max-height: 100%;
  height: auto;
  float: right;

}

.header h1{
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
  vertical-align: middle;

}

#title{
  padding-top: 5px;
}

#content {
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 10%;
}

.collapsible {
  background-color: #2d2d2d;
  color: #999;
  cursor: pointer;
  padding: 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  font-family: 'Catamaran', sans-serif;
}

.collapsible:hover {
  color: #cca506;
}


.collapsible-content {
  color: #bbbbbb;
  display: none;
  font-size: 14px;
  margin-top: 0px;
}

.collapsible-content p{
  display: block;
  margin-top: 2px;
}

#weightSVG {
  padding-top: 20px;
  display:inline-block;
}

#weight-hover {
  background-color: #cca506;
  display:inline-block;
}

#weight-hover p{
  color: #2d2d2d;
  margin: 0px;
  padding: 2px;
  display:inline-block;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
}
