<html lang="en">
  <head>
    <title>Smart Hive</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/bee_icon.png') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    {% block content %}
      <div class="header">
        <img src="{{ url_for('static', filename='images/bee_icon_large.png')}}" alt="Bee Logo"/>
        <h1 id="title">IOBee</h1>
      </div>
      <div id="content">
        <div id="hive-weight">
          <h2>Hive Weight</h2>
          <button class="collapsible">+ Why does hive weight matter?</button>
          <div class="collapsible-content">
            <p>Weighing the hives is a non-invasive way to quickly check on the bees. The weight of the hive measure how many bees there are and how much honey they have produced. In the spring, weight can help detemine how much honey the bees are producing. Then, going into winter, the bees need enough honey to get them through.</p>
          </div>
        </div>
      </div>
    {% endblock %}
  </body>
</html>
